
.wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 8rem 0 8rem;
}



.devBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.heading {
    text-align: center;
    font-size: 1.5rem;
    color: var(--ifm-font-color-secondary);
}

.link {
    color: var(--ifm-link-color);
    text-decoration: none;
    transition: color 0.3s;
}

.link:hover {
    color: #1890ff;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .imagesContainer {
        flex-direction: column;
    }
}

.image {
    border-style: none;
    vertical-align: middle;
    height: 60px;
}
