/* Existing hero banner styles */
.heroBanner {
  position: relative;
  z-index: 2;
  overflow: hidden;
  color: var(--ifm-color-primary);
  padding: 1rem 0 0.5rem;
}
.heroImage{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  object-fit: contain;
  padding: 40px 40px 10px 40px;
}

.heroContainer {
  position: relative;
  z-index: 10;
}
.heroTitle {
  font-weight: 700;
  margin-bottom: 2rem;
  z-index: 10;
  color: var(--ifm-color-primary-dark);
}
.heroSubtitle {
  margin-bottom: 1rem;
  color: var(--ifm-footer-color);
}

/* Responsive adjustments for heroBanner */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* --- New Button Styles --- */
.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  transform: scale(1.05);
}

.buttonPrimary {
  background-color: var(--ifm-color-primary-dark);
  color: #fff;
  
}

:root[data-theme='dark'] .buttonPrimary {
  background-color: var(--ifm-color-primary-dark);
  color: #fff;
}

.buttonSecondary {
  background-color: var(--ifm-color-primary-light);
  color: #fff;
}

:root[data-theme='dark'] .buttonSecondary {
  background-color: var(--ifm-color-primary-light);
  color: #fff;
}
